.button {

    border: none;
    color:black;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.color-text {
    background-color:black;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .section{
    text-align: center;
    margin-top: 250px;
  }